@import 'tailwindcss';

@theme {
  --color-pink: #9d174d;
}

.center {
  @apply flex justify-center items-center;
}

.container {
  @apply mx-auto px-4;

  max-width: 1600px;
}

.button-glass {
  background: rgba(157, 23, 77, 0.17);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid rgba(157, 23, 77, 0.19);
}