@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@300;400;500;600;700&display=swap");
@import 'tailwindcss';

@theme {
  --color-pink: #9d174d;

  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-instrument: "Instrument Serif", ui-serif, Georgia, serif;
}

.center {
  @apply flex justify-center items-center;
}

.container {
  @apply relative mx-auto;

  max-width: 1924px;
}

.button-glass {
  background: rgba(157, 23, 77, 0.17);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid rgba(157, 23, 77, 0.19);
}